# Application
APP_ENV=development
DEBUG=True
HOST=0.0.0.0
PORT=8000

# Qdrant Vector Database
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=clothes
QDRANT_USE_HTTPS=false
QDRANT_PREFER_GRPC=false

# Redis (AI Service)
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_DB=0
REDIS_PASSWORD=
REDIS_MAX_CONNECTIONS=10


# HuggingFace
HF_HOME=./models
HF_TOKEN=

# Models
UPSTAGE_API_KEY=your_upstage_api_key_here
EMBEDDING_MODEL=solar-embedding-1-large-passage
CAPTION_MODEL=Salesforce/blip-image-captioning-base
OPENAI_API_KEY=your_api_key_here
GEMINI_API_KEY=your_api_key_here
GEMINI_MODEL=gemini-2.5-flash

USE_MOCK_ANALYZER=
