fastapi
uvicorn
pydantic-settings
qdrant-client
redis>=5.0.0
boto3
torch
transformers
sentence-transformers
open_clip_torch
timm
einops

ftfy
regex
python-dotenv
httpx
pillow

prometheus-fastapi-instrumentator

numpy
ray[serve]
tenacity
